

<div>
    <!--<button (click)="toggleMenu()" class="hamburger">
      <span>toggle menu</span>
    </button>-->
    <div class="menu" (click)="toggleMenu()">
      <!-- <div class="bar"></div>	 -->
      <div class="bar" [ngClass]="{'animate': isClassVisible }"></div>	
    </div>
    
    <div class="left" [@slideInOut2]="slideInOut">
        <div class="menu2" (click)="toggleMenu()">
          <div class="bar" [ngClass]="{'animate': isClassVisible }"></div>	
  
        </div>
        <ul>
          <li>
            <a class="nav-link"  routerLink="/">Home</a>
          </li>
          <li>
            <a class="nav-link"  routerLink="/home">Yoda</a>
          </li>
          <li >
            <a class="nav-link" routerLink="/book">Books</a>
          </li>
          <li >
            <a class="nav-link" routerLink="/hearing">Hearings</a>
          </li>
        </ul>
      
    </div>

</div>


