
<p>book works!</p>

<form (ngSubmit)="onSubmit()" #bookForm="ngForm">
  <div class="form-group">
    <label for="name" class="labelName">Book name</label>
    <input type="text" class="form-control" id="bookName"
          required
          [(ngModel)]="model.bookName" name="bookName"
          >

  </div>
  <div class="form-group">
    <label for="name" class="labelName">Price</label>
    <input type="text" class="form-control" id="bookName"
          required
          [(ngModel)]="model.price" name="bookName"
          >

  </div>
  <div class="form-group">
    <label for="name" class="labelName">Category</label>
    <input type="text" class="form-control" id="bookName"
          required
          [(ngModel)]="model.category" name="bookName"
          >

  </div>
  <div class="form-group">
    <label for="name" class="labelName">Author</label>
    <input type="text" class="form-control" id="bookName"
          required
          [(ngModel)]="model.author" name="bookName"
          >

  </div>
  <div>
  <button type="submit" class="btn btn-success" (click)="save(bookForm)">Submit</button>
    </div>
</form>


<button type="submit" class="btn"  (click) = "login()" >Get data</button>

<div class="column">
  <h1 id="tableTitle">Table</h1>

  <table id="myTable">
    <tr class="header">
      <th style="width:20%;">Name</th>
      <th style="width:20%;">Alter Ego</th>
      <th style="width:20%;">Date</th>
      <th style="width:20%;">Hero Power</th>
    </tr>
    <tr *ngFor = "let data of lists | slice: (page-1) * pageSize : page * pageSize">
      <td>{{data.bookName}}</td>
      <td>{{data.price}}</td>
      <td>{{data.category}}</td>
      <td>{{data.author}}</td>
    </tr>

  </table>

</div>

