<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/book">Books</a>
    </li>
  </ul>

  <span class="navbar-text">
   Welcome to The Test App
  </span>

</nav> -->
<!-- <app-menu-component></app-menu-component> -->

<router-outlet></router-outlet>
