<div class="header">
  <div class="head">
    <div class="logoDiv">
      <img src="./../assets/cgLogo.png" alt="CG" class="logo">
    </div>
    <div class="titleDiv">
      <span>{{title}}</span>
    </div>
    <div class="timeDiv">
      <div class="date">
        <span>
          {{date   | date: "dd.MM.yyyy."}}
        </span>
        <span>
          {{date   | date: "HH:mm:ss"}}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
        <div class="table">
          <div class="row header">
            <div class="cell">Predmet</div>
            <div class="cell">Vrsta ročista</div>
            <div class="cell">Lokacija</div>
            <div class="cell">Vreme</div>
          </div>
          <div class="row" *ngFor = "let data of lists | slice: (page-1) * pageSize : page * pageSize">
            <div class="cell" data-title="Case num">{{data.caseNum}}</div>
            <div class="cell" data-title="Hearing type">{{data.hearingType}}</div>
            <div class="cell" data-title="Hearing location">{{data.hearingLocation}}</div>
            <div class="cell" data-title="Date">{{data.date}}</div>
          </div>
        </div>
    </div>
  </div>
</div>