/* You can add global styles to this file, and also import other style files */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
